.right{
    padding: 0;
    margin: 0;
    max-width: 49%;
}

@media screen and (max-width: 768px){
    .right{
        margin: 0 auto;
    }

    .left{
        padding: 0;
    }

    .row{
        margin: 0;
    }
}

@media screen and (max-width: 565px){
    .right{
        margin: 0;
        max-width: 100%;
    }
}